.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;       
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vmin;
    height: 15vmin;
    font-size: clamp(18px, 4vw,25px);
    font-weight: 600;
    background-color: $dark_color;
    color: $white-color;
    border: 2px solid $white-color;
    border-radius: 3px;
    cursor: pointer;

    transition: $transition;
    
    &:hover {
        background-color: $white-color;
        color: $dark_color;
    }
}