.results-tab-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    right: 0;
    width: max(200px, 40%);
    padding: 10px 20px;
    background-color: $white-color;
    color: $dark-color;
    font-size: 1.3rem;
    border-radius: 3px 0 0 3px;

    .result-tab {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: .7rem 0;

        .player-name {
            font-weight: 600;
        }
    }
}
