.set-choices-container {

    h2 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 3rem;
    }
     
    .active-choice {
        background-color: $white-color;
        color: $dark-color;
    }
    
}