
.fa-undo-alt,
.fa-arrow-alt-circle-right {

    position: absolute;
    top: 50px;
    font-size: 1.8rem;
    cursor: pointer;

    transition: $transition;

}

.fa-undo-alt {
    left: 50px;
    color: darken($color: $white-color, $amount: 30);
    &:hover {
        color: $white-color;
        transform: rotate( -340deg );
    }
}

.fa-arrow-alt-circle-right {
    position: fixed;
    font-size: 2.5rem;
    right: 50px;
    color: $white-color;
}